.blog-page{
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;


  .item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    h5 {
      font-size: 16px;
      color: rgb(70, 69, 68);
    }
    .divider2 {
      width: 90px;
      margin-top: 20px;
      height: 2px;
      color: gray;
      border: 1px solid rgb(181, 175, 175);
    }
}



  .blog-card {

    margin-top: 5px;
    display: flex;
    flex-direction: row;
    margin-right: 40px;

    justify-content: center;
    justify-content: space-between;

    .card1 {
      width: 700px;
      height: 600px;
      margin-top: 60px;
      padding-left: 30px;

      h3 {
        margin-right: 165px;
      }

      p {
        margin-top: 15px;
        margin-left: 10px;
        font-size: 15px;
      }
    }

    .img1 {
      box-sizing: border-box;
      overflow: hidden;

      img:hover {
        transition: transform 1.1s ease;
        transform: scale(1.2);
      }
    }
  }

  .item2{
    padding-bottom: 105px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
 
    button{
        background-color: white;
        width: 40px;
        height: 40px;
        border: 1px solid black;
    }

    button:hover{
        background-color: black;
        color: white;
        transition-duration: 1s;
        
    }
    

}

 

 

  
}
